{% extends 'base.html' %}

{% block title %} To-Do List {% endblock %}

{% block content %}
    
    <!-- List with avatar and controls -->
    <style>
    .demo-list-control {
      width: 300px;
    }

    .demo-list-radio {
      display: inline;
    }
    </style>

    



    <!-- Simple Textfield -->
    <form method="POST">
        {% csrf_token %}
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="search" placeholder="To-Do Item" name="item">        
        </div>
    </form>
    
    {% if all_items %}
    <ul class="demo-list-control mdl-list">
        {% for i in all_items %}
            {% if i.completed %}
                <li class="mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                        <div class="striker">
                        {{ i.item }}
                        </div>
                    </span>
                    <form class="mdl-list__item-secondary-action" action="{% url 'uncross' i.id %}" method="POST">
                        {% csrf_token %}
                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-{{ i.id }}">
                            <input onChange='submit();' type="checkbox" id="list-checkbox-{{ i.id }}" class="mdl-checkbox__input" checked />
                        </label>
                    </form>
                </li>
                
            {% else %}
                
                <li class="mdl-list__item">
                    <span class="mdl-list__item-primary-content">      
                        {{ i.item }}
                    </span>
                    <form class="mdl-list__item-secondary-action" action="{% url 'cross_off' i.id %}" method = "POST">
                        {% csrf_token %}
                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-{{ i.id }}">
                            <input onChange='submit();' type="checkbox" id="list-checkbox-{{ i.id }}" class="mdl-checkbox__input" />

                            <!-- <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored" >
                              <i class="material-icons">highlight_off</i>
                            </button> -->
                        </label>                        
                    </form>

                </li>
            {% endif %}
        {% endfor %}
    </ul>
    {% endif %}

{% endblock %}




<!-- <ul class="demo-list-control mdl-list">
  <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">      
      {{ i.item }}
    </span>
    <span class="mdl-list__item-secondary-action">
      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-1">
        <input type="checkbox" id="list-checkbox-1" class="mdl-checkbox__input" checked />
      </label>
    </span>
  </li>
</ul> -->